[submodule "nix/bundles/rust"]
	path = nix/bundles/rust
	url = https://github.com/imp-nix/bundle.rust
[submodule "nix/bundles/cargo-rail"]
	path = nix/bundles/cargo-rail
	url = https://github.com/imp-nix/bundle.cargo-rail
[submodule "nix/bundles/bevy"]
	path = nix/bundles/bevy
	url = https://github.com/imp-nix/bundle.bevy
[submodule "nix/bundles/md-docs"]
	path = nix/bundles/md-docs
	url = https://github.com/imp-nix/bundle.md-docs
